@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
  }

  body {
    @apply bg-[#0a0a0a] text-[#ededed];
  }
}
